{% extends 'base.html' %}
{% load static %}

{% block navbar %}
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pesquise">Pesquise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobre">Sobre</a>
                    </li>

                </ul>
            </div>
{% endblock %}

{% block content %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Se vacinou ?</h1>
                        <p class="intro-text">Quer saber mais sobre a vacina a ser tomada? Clique abaixo e pesquise!</p>
                        <a href="#pesquise" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>

                <section id="pesquise" class="container content-section text-center">
                
                <div role="tabpanel">

                   <div class="wrapper">
                     
                      <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li role="presentation" id="centralizar" class="active"><a href="#idade" aria-controls="home" role="tab" data-toggle="tab"><span id="fonte">Por sua idade</span></a></li>
                        <li role="presentation"><a href="#vacina" aria-controls="profile" role="tab" data-toggle="tab"><span id="fonte">Por tipo de Vacina</span></a></li>
                        <li role="presentation"><a href="#doenca" aria-controls="messages" role="tab" data-toggle="tab"><span id="fonte">Por tipo de Doença</span></a></li>
                      </ul>
                   
                   </div>
                

                <div class="tab-content">
                
                   <div role="tabpanel" class="tab-pane active" id="idade" >
                    
                    <form id ="idade" method="post"  class="pure-form pure-form-stacked">{% csrf_token %}
                    
                        <br><br>

                       <div id="centro">
                         <select name="idade" type="idade" >
                          {% for idade in idades %}
                           <option>{{idade.idade }}</span></option>
                          {% endfor %}
                         </select>
                
                         <br>
                
                       </div>

                       <br><br>

                       <button type="submit" class="btn btn-default btn-lg">Pesquisar</button>


                    </form>


                   </div>
                  <div role="tabpanel" class="tab-pane" id="vacina">
                    <form id="vacina" method="post" class="pure-form pure-form-stacked">{% csrf_token %}
                      
                        <br><br>

                       <div id="centro">
                         <select name="vacina" type="vacina" >
                         
                          {% for vacina in vacinas %}
                           <option>{{ vacina.nome }}</span></option>
                          {% endfor %}
                         
                         </select>
         
                         </select>
                
                         <br>
                
                       </div>

                       <br><br>

                       <button type="submit" class="btn btn-default btn-lg">Pesquisar</button>

                      

                    </form>

                  </div>
                  <div role="tabpanel" class="tab-pane" id="doenca">

                    <form id="doenca" method="post" class="pure-form pure-form-stacked">{% csrf_token %}
                     
                        <br><br>

                       <div id="centro">
                         <select name="doenca" type="doenca" >
                          {% for doenca in doencas %}
                           <option>{{ doenca.nome }}</span></option>
                          {% endfor %}
                         </select>

                         </select>
                
                         <br>
                
                       </div>

                       <br><br>

                       <button type="submit" class="btn btn-default btn-lg">Pesquisar</button>

                   

                    </form>

                  </div>
                </div>

                
                              <section id="sobre" class="content-section text-center">
                <div class="download-section">
                    <div class="container">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Quem somos nós?</h2>
                            <p>O sistema Vacinou tem a intenção de ...</p>
                            
                        </div>
                    </div>
                </div>
            </section>     

           </section>

            <!-- Download Section -->

            <footer>
                <div class="container text-center">
                    <p>Copyright &copy; Vacinou 2015</p>
                </div>
            </footer>

            </div>
{% endblock %}