{% extends 'basePesquisa.html' %}
{% load static  %}
{% load verbatim %}
{% load widget_tweaks %}
{% block content %}

<style type="text/css">
.container{
  
}
body{
  background-color: white;
         color: white;
           background: url({% static 'img/intro-bg.jpg' %}) no-repeat  scroll;
}
.top-nav-collapse{
  background-color: transparent;
}
a{
  color: black;
  background-color: transparent;
}
#logotipo{
  margin-left: 90%;
}
.btn-xl {
    padding: 10px 20px;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #B5ACAA;
}
#corID{
color:rgba(0, 0, 0, 0.8);
margin-top: 5%;
}
iframe{
  border: 5px solid white;
}
</style>
    <div class="container">

        <div class="row">
                <h1 class="page-header">
                    Voce pesquisou sobre :
                </h1>

                <div class="col-md-4 img-portfolio">

 
                <h2 >{{tipo_de_pesquisa}}</h2>
            </div>
        </div>

        {% if idades %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> 
                    Idade para uso :
                </h1>

            {% for idade in idades %}
              <div class="col-md-4 img-portfolio">
                <h2 class ="alert" id = "corID">
                    {{idade.idade}}
                </h2>
              </div>
                
            {% endfor %}

            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{titulo}}
                    
                </h1>

            </div>
        </div>
        <!-- /.row -->
        <style type="text/css">
           
           #corH4{
            color:black;
           }
           #corH3{
            color:black;
           }
           #corH2{
            color:black;
           }

           #whiteColor{
            color: white;
           }
           .alert_t{
        width: 100%;
        height: 80px;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.8);
       }
       h5{
        margin-top: 15px;
       }
       a{
        color:white;
       }
      .alert{
        width: 50%;
        background-color: rgba(204, 204, 204, 0.6);
       }
        </style>
        <!-- Projects Row -->


        <div class="row">
                <center><ul class="nav nav-pills">

                        {% for vacina in listaVacinas %}
                          
                            
                            <a href="{{vacina.get_absolute_url}}"><button class="pure-button">
                                <i class="fa fa-eyedropper"></i>
                                  <h3>{{vacina.nome|safe}}</h3>
                                  
                            </button></a>
                          </li>
                          {% endfor %}
                          
                      </ul></center>

                <center><ul class="nav nav-pills">

                        {% for doenca in listaDoencas %}
                          
                            
                            <a href="{{doenca.get_absolute_url}}"><button class="pure-button">
                                <i class="fa fa-eyedropper"></i>
                                  <h3>{{doenca.nome|safe}}</h3>
                                  
                            </button></a>
                          </li>
                          {% endfor %}
                          
                      </ul></center>
    

                <center><ul class="nav nav-pills">

                        {% for vacina in tipoVacina %}
                          
                            
                            <a href="{{vacina.get_absolute_url}}"><button class="pure-button">
                                <i class="fa fa-eyedropper"></i>
                                  <h3>{{vacina.nome|safe}}</h3>
                                  
                            </button></a>
                          </li>
                          {% endfor %}
                          
                      </ul></center>
        </div>
        <!-- /.row -->


        <!-- /.row -->

        <hr>

        
    
        <style type="text/css">
           select{
            color: black;
            margin-right: auto;
            margin-right: auto;
            width: 200px;
            height: 50px;
          }
        </style>
        
     <script type="text/javascript">
        function MyCtrl($scope){


           $scope.unidades=[
             {% for unidade in unidades_vacinacao %}
               {

                   "nome_localizacao" : "{{unidade.bairro}} - {{unidade.unidade}}",
                   "localizacao" : "{{unidade.latitude}},{{unidade.longitude}}",
                   "nome" : "{{unidade.unidade}}",
                   "endereco" : "{{unidade.endereco}}",

               },
             {% endfor %}
           ];
       }
     </script>  

     <style type="text/css">

      #selectBox{
        width: 350px;
      }
     </style>
        {% verbatim %}
        <br>
   
              <h2>Veja as unidades mais próximas a você !</h2>
                  
                   
        <div class="row" ng-app ng-controller="MyCtrl" >
            <!-- Map Column -->
            <div class="col-md-8" >
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{bairro_}}&amp;sll=53.800651,-4.064941&amp;sspn=17.916772,34.848633&amp;ie=UTF8&amp;hq=&amp;ll=q=-8.093537148,-34.92445032&amp;spn=0.007164,0.013797&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

                
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h2>Unidades de atendimento</h2>
                <select id="selectBox" class="pure-input-1-2" ng-model ="bairro_" >
                    <option  ng-repeat = "unidade in unidades" value="{{unidade.localizacao}}" >{{unidade.nome_localizacao}}</option>
                     
                </select>
                

            </div>
        </div>
        {% endverbatim %}
           <div class="row">
            <div class="col-md-8" id = "contato">
                <br>
                <br>
                <h3>Podemos te enviar um e-mail sobre o ponto de atendimento?</h3>
                {% if is_valid %}
        <p>Você enviou o formulário com sucesso</p>
        {% endif %}
        <form action="#contato" class="pure-form pure-form-aligned" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="pure-control-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                </div>
            </fieldset>
        </form>

            </div>

        </div>

        

    </div>


{% endblock %}