{% extends 'basePesquisa.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">


    <!-- Page Content -->
    <style type="text/css">
           
       <style type="text/css">
       .container{
         
       }
       body{
        background-color: white;
         color: white;
           background: url({% static 'img/intro-bg.jpg' %}) no-repeat scroll;

       }
       .top-nav-collapse{
         background-color: transparent;
       }
       a{
         color: black;
         background-color: transparent;
       }
       #logotipo{
         margin-left: 90%;
       }
       .btn-xl {
           padding: 10px 20px;
           border-color: black;
           border-radius: 5px;
           font-size: 15px;
           font-weight: 700;
           color: #B5ACAA;
       }
       .texto{
          border: 1px solid gray;
       }
       img{
        border: 4px solid white;
       }
       #n{
        margin-bottom: 5%;
        margin-top: 5%;
       }
       .alert{
        width: 50%;
        background-color: rgba(204, 204, 204, 0.6);
       }
    </style>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                  
                <center><h1 class="page-header" id = "n">
                  <div class="alert">{{doenca.nome|safe}}</div>
                  
                   
                </h1></center>

            </div>
        </div>
        <!-- /.row -->
      
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">

              {% if tipoVacina.image %}

                  <img class="img-responsive img-hover" src="{{ tipoVacina.image.url }}" alt="">

              {% else %}

                <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">

              {% endif %}


            </div>
            <div class="col-md-5">
                      <center><div class="">
                        <h2>Vacinas para tratamento</h2>
                      </div></center>
                <h4 id = "corH4">
                      
                    
                    
                      <center><ul class="nav nav-pills">

                        {% for vacina in tipoVacina %}
                          <li class="">
                            

                            <a href="{{vacina.get_absolute_url}}"><button class="pure-button">
                                <i class="fa fa-eyedropper"></i>
                                  <h3>{{vacina.nome|safe}}</h3>
                                  
                            </button></a>

                          </li>
                          {% endfor %}
                          
                      </ul></center>
                    
                        

                </h4>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="">
          <h2><p>Descrição</p></h2>
        </div>
        <div class="texto">
          <center><p>{{doenca.descricao}}</p></center>
        </div>
        <h3><a class="pure-button pure-button-active" href="{% url 'core:home' %}">Voltar</a></h3>
{% endblock %}
