{% extends 'basePesquisa.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">


    <!-- Page Content -->
    <style type="text/css">
           
       <style type="text/css">
       .container{
         
       }
       body{
         background-color: white;
         color: black;
       }
       .top-nav-collapse{
         background-color: transparent;
       }
       a{
         color: black;
         background-color: transparent;
       }
       #logotipo{
         margin-left: 90%;
       }
       .btn-xl {
           padding: 10px 20px;
           border-color: black;
           border-radius: 5px;
           font-size: 15px;
           font-weight: 700;
           color: #B5ACAA;
       }
       .texto{
          border: 1px solid gray;
       }

    </style>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{doenca.nome}}
                   
                </h1>

            </div>
        </div>
        <!-- /.row -->
      
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">

              {% if tipoVacina.image %}

                <img class="img-responsive img-hover" src="{{ tipoVacina.image.url }}" alt="">

              {% else %}

                <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">

              {% endif %}


            </div>
            <div class="col-md-5">
                      <center><div class="alert alert-info">
                        <h2>Vacina para tratamento</h2>
                      </div></center>
                <h4 id = "corH4">
                      
                    
                    
                      <center><ul class="nav nav-pills">
                        {% for vacina in tipoVacina %}
                          <li class="">
                            
                            <button class="pure-button">
                                <i class="fa fa-cog"></i>
                                  <a href="{{vacina.get_absolute_url}}"><h3>{{vacina.nome|safe}}</h3>
                                  </a>
                            </button>
                          </li>
                          {% endfor %}
                      </ul></center>
                    
                        

                </h4>
                <div class="texto">
                    <center><p>{{doenca.descricao|linebreaks|safe}}</p></center>
                </div>
                
           
            </div>
        </div>


        <hr>
{% endblock %}
